<div id="photo">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class= "col-md-10">
      <h2 class="title">Welcome to 裏おもてなし！</h2>
      <div class="introduction">
        <p>
          裏おもてなしとは主に接待に使ったお店を投稿し、他の会員の皆様と共有することができるサイトです。<br>
          接待や社内イベントにおいて中々難しいお店選びにお使いいただき、<br>
          会員様のビジネスチャンスの一助になるようなサイトを目指しております。<br>
          また、お店の方も登録をしていただくことで紹介ページを作成していただくことができます。<br>
          ご自身のお店のアピール、集客に是非ご活用ください！<br>
        </p>
      </div>
      <br>
      <div class="link">
        <p>
          個人会員様　新規登録は<a href="/users/sign_up">こちら！</a><br>
          個人会員様　ログインは<a href="/users/sign_in">こちら！</a><br><br>
          新規登録を希望されるお店様は　<a href="/stores/sign_up">こちら！</a><br>
          登録済みお店様のログインは　<a href="/stores/sign_in">こちら！</a><br>
          ※新規投稿等各種ページの閲覧には個人会員新規登録・ログインが必要です。
        </p>
      </div>