
<div class="container">
  <div class="row">
    <div class= "col-md-12">
      <h1 class="title">裏おもてなしへのご登録ありがとうございます！</h1>
      <div class="introduction">
        <h3>
          登録店マイページに表示されている内容はそのまま個人会員向けのページに表示されます。<br>
          詳しく書いてホームページ代わりにご使用ください！<br>
        </h3>
      </div>
      <br>
      